body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box; /* Include padding and border in the total width */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 0; /*edit*/
  background: linear-gradient(rgba(50, 205, 50, 0.7), rgba(135, 206, 235, 0.7)), url("/imgs/header.jpg");
  width: 100%; /*edit*/
  box-sizing: border-box; /* Include padding and border in the total width */
}

.footer-container {
  margin-top: auto; 
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 8vh;
  background: linear-gradient(rgba(135, 206, 235, 0.7), rgba(128, 128, 128, 0.7)), url("/imgs/footer.jpg");
  border-style: solid;
  border-width: medium;
  border-color: skyblue;
  width: 100%; /*edit*/
  box-sizing: border-box; /* Include padding and border in the total width */
}

#title{
  flex-grow: 1; 
  text-align: center; 
  justify-content: center;
}

#logo1 {
  margin-right: auto;
}

#logo2 {
  margin-left: auto;
}

#logo1 img,
#logo2 img {
    max-width: 100%;
    height: auto;
}

.text{
  color: white;
}

.grid-container{
  display: inline-flex;
  grid-template-columns: auto auto auto;
}

#left-pane{
  justify-self: left;
  background-color: black;
  padding: 5%;
  width: 100%;
  height: 75vh;
  border-style: solid;
  border-width: medium;
  border-color: skyblue;
  overflow: hidden;
  word-wrap: break-word;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
}

#left-pane p:last-child {
  margin-top: auto;
}

#middle-pane{
  background-color: black;
  padding: 5%;
  width: 10%;
  height: 75vh;
  border-style: solid;
  border-width: medium;
  border-color:skyblue;
  align-items: center
}

#right-pane{
  background-color: black;
  padding: 5%;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
  height: 75vh;
  border-style: solid;
  border-width: medium;
  border-color: skyblue;
  overflow-y:auto
}

.button {
  justify-self: center;
  background-color: orange;
  border: none;
  color: black;
  padding: 25% 60%; /* Adjusted to percentages */
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw; /* Adjusted to viewport width units */
  cursor: pointer;
  width: 75%; /* Adjusted to percentage */
  height: 10%; /* Adjusted to percentage */
  margin: 20% auto; /* Adjusted to percentages */
  overflow: hidden;
}

.button1:hover {
  background-color: yellow;
  color: black;
}

.button2:hover {
  background-color: yellow;
  color: black;
}

.button3:hover {
  background-color: yellow;
  color: black;
}

.button4:hover {
  background-color: yellow;
  color: black;
}

.socials {
  display: flex;
  align-items: center;
}

.socials a {
  margin-right: 1vw;
}

.socials img {
  width: 2vw;
  height: auto;
}

.pdf-container {
  text-align: justify;
  width: [width of img];
}

.pdf-container img {
    display: block;
    margin: 0 auto;
}

#right-pane::-webkit-scrollbar {
  display: none;
}

#right-pane {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#left-pane::-webkit-scrollbar {
  display: none;
}

#left-pane {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }

  #logo1, #title, #logo2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  #logo1, #logo2 {
    margin: 0;
  }

  footer {
    flex-direction: column;
    align-items: stretch;
  }

  .socials {
    flex-direction: column;
    text-align: center;
  }
}